server {
    listen *:80;

    server_name	phppgadmin.example.com;

    access_log	/var/log/nginx/phppgadmin.access.log main buffer=15k flush=5m;
    error_log	/var/log/nginx/phppgadmin.error.log info;

    root /var/www/phppgadmin;

    location ~ \..*/.*\.php$ {
	return	403;
    }

    location / {
	try_files	$uri @rewrite;
    }

    location @rewrite {
	rewrite	^/(.*)$ /index.php?q=$1;
    }

    location ~* \.(bmp|jpg|jpeg|pjpeg|gif|ico|png|css|doc|txt|js|docx|rtf|ppt|pdf|swf)$ {
	expires	30d;
	etag	on;
	log_not_found	on;
    }

    location ~ \.php$ {
	include	fastcgi/fastcgi_settings;
    }
}
