server {
    listen    80;
    server_name    example.org;

    access_log    /var/log/nginx/example.access.log main buffer=16k flush=5m;
    error_log    /var/log/nginx/example.error.log info;

    # Пишем логи в syslog-сервер, в тэге можно указывать только буквы и цифры
    # error_log    syslog:server=192.168.88.115:5515,tag=ExampleOrgError info;

    root    /home/rubyworker/example/public;
    try_files    /system/maintenance.html $uri $uri/index.html $uri.html @ruby;

    location @ruby {
        proxy_pass    http://unix:/home/rubyworker/example/tmp/puma/puma-example.sock;
    }

    # Для Rails < 4.x
    #location ~* ^/(images|javascripts|stylesheets)
    # Для Rails >= 4.x
    location /assets/
        expires    30d;
        log_not_found    off;
        access_log    off;
    }

#    include    error/50x_location;
}
