server {
    listen 80;
    server_name example.org;

    access_log  /var/log/nginx/example.access.log;
    error_log  /var/log/nginx/example.error.log warn;

    # Пишем логи в syslog-сервер, в тэге можно указывать только буквы и цифры
    error_log  syslog:server=192.168.88.115:5515,tag=ExampleOrgError warn;

    root /home/rubyworker/example/public;
    try_files /system/maintenance.html $uri $uri/index.html $uri.html @ruby;

    location @ruby {
    proxy_pass http://unix:/home/rubyworker/example/tmp/puma/puma-example.sock;
    }

    location ~* \.(jpg|jpeg|gif|png|css|zip|tgz|gz|rar|bz2|exe|ppt|txt|tar|wav|bmp|rtf|js|ico)$ {
    expires         max;
    log_not_found   off;
    access_log      off;
    }

    include error/error_pages;
}